<style>
  .data-fix {
    font-weight: normal;
    font-size: 15px;
  }
</style>

<p id="notice"><%= notice %></p>


<h1>Parkings</h1>

<div id="parking-ticket-info">
  <%= render 'parking_ticket_info' %>
</div>

<table id="parkings">
  <thead>
  <tr>
    <th>Parking ID</th>
    <th>License Plate</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @parkings %>
  </tbody>
</table>

<br>

<p id="test" style="display: none">no spots available</p>

<% if @spots_available > 0 %>
  <div id="new-parking">
    <%= link_to 'New Parking', new_parking_path, remote: true %>
  </div>
<% else %>
  <p id="test">no spots available</p>
<% end %>



