<div class="app-container">
  <h1 class="app-title">Parking Lot</h1>
</div>

<div id="parking-ticket-info">
  <%= render 'parking_ticket_info' %>
</div>

<table id="parkings">
  <thead>
  <tr>
    <th>Parking ID</th>
    <th>License Plate</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @parkings %>
  </tbody>
</table>

<br>

<p id="test" style="display: none">no spots available</p>

<% if @spots_available > 0 %>
  <div id="new-parking" class="flex-center">
    <%= link_to 'New Parking', new_parking_path, remote: true, class: 'button' %>
  </div>
<% else %>
  <p id="test" class="red_button">no spots available</p>
<% end %>



